body{

}

.table{

  width: 100%;
  text-align: center;
}

#cartaServer{
  text-align: center;
}

#cartasCliente{
  border: 1px solid black;
}

img{
  width: 100px;
  height: 150px;
  border: 1px solid black;
}

#imgServer{
  visibility: hidden;
}
